/* Your app's SASS, go crazy, make it your own */

$textblue: #173476

@font-face
  font-family: 'Gotham-XLight'
  src: url('../fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-XLight.otf')  format('opentype'), url('../fonts/Gotham-XLight.woff') format('woff'), url('../fonts/Gotham-XLight.ttf')  format('truetype'), url('../fonts/Gotham-XLight.svg#Gotham-XLight') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham-Bold'
  src: url('../Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../Gotham-Bold.otf')  format('opentype'), url('../Gotham-Bold.woff') format('woff'), url('../Gotham-Bold.ttf')  format('truetype'), url('../Gotham-Bold.svg#Gotham-Bold') format('svg')
  font-weight: normal
  font-style: normal

body
  font-family: 'Gotham-XLight' sans-serif

h1, h2, h3, h4, h5, h6
  font-family: 'Gotham-XLight' sans-serif

.ionic-logo
  display: block
  margin: 15px auto
  width: 96px
  height: 96px

ion-view
  background-color: #EEE !important
  background-image: url(../images/bg.png)
  background-repeat: repeat-x

ion-content
  &.blank
    padding: 30px
    background-color: transparent !important
  &:not(.overlay):not(.blank)
    background-color: #fff
    width: 1150px !important
    margin: 0 auto 80px auto
    padding: 30px
    &::before
      position: absolute
      width: 100%
      height: 30px
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
      content: ""
      top: -1px
      left: 0
      z-index: 100
    &::after
      position: absolute
      width: 100%
      height: 30px
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
      content: ""
      bottom: -1px
      left: 0
      z-index: 100
  h2
    text-align: left
  p
    text-align: left

.has-header
  top: 100px

.fadecontainer
  height: 768px

#logo
  position: absolute
  z-index: 5
  width: 203px
  height: 84px
  background-image: url(../images/logo.png)
  top: 10px
  left: 20px

#logo-white
  position: absolute
  z-index: 100
  width: 203px
  height: 84px
  background-image: url(../images/logow.png)
  top: 10px
  left: 20px

.titleprogress
  width: 430px
  position: absolute
  height: 60px
  background: white
  font-size: 1.4em
  padding: 20px
  text-indent: 30px
  left: 50%
  margin-left: -185px
  top: 20px
  .progress
    position: absolute
    left: 0
    top: 0
    padding: 20px
    background-color: #3DADD5
    color: #fff
    overflow: hidden
    white-space: nowrap
  .progresslogo
    position: absolute
    z-index: 2
    width: 70px
    height: 70px
    border-radius: 50%
    left: -40px
    top: -5px
    background-image: url(../images/menubuttons/2.png)
    background-size: 102%
    box-shadow: 0px 3px 3px rgba(0,0,0,.5)
  .progress-status
    left: 260px
    top: 20px
    position: absolute

.home-btn
  position: absolute
  right: 0px
  top: 20px
  padding: 10px
  background-color: #B32A34
  border: 0px
  color: #ffffff
  font-size: 1.4em
  width: 160px
  text-indent: 40px
  &:before
    content: ""
    position: absolute
    width: 40px
    height: 40px
    background-image: url(../images/home.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    left: 20px

.continuephone-btn
  position: absolute
  right: 160px
  top: 20px
  padding: 10px
  background-color: #444444
  border: 0px
  color: #ffffff
  font-size: 1.4em
  width: 280px

.content-header
  margin-left: 100px

.row
  .row-content
    display: block
    width: 100%
    &.center-align
      text-align: center

.link
  margin: 0 20px
  .main-btn
    border: 0px
    background-color: transparent
    font-size: 2.5em
    color: $textblue
    .btn-image
      width: 234px
      height: 234px
      background-size: 100%
      background-repeat: no-repeat
      background-position: center
      border-radius: 50%
      border-bottom: 10px solid #5A0212
      box-shadow: 0px 5px 5px rgba(0,0,0,.5)
      margin-bottom: 20px
      &.image-blue
        border-bottom-color: #08183C !important
    &.activated
      box-shadow: none
      .btn-image
        border-bottom: solid 5px #5A0212
        &.image-blue
          border-bottom: solid 5px #08183C

.center
  text-align: center

.link
  display: inline-block
  width: 250px


.numberinput
  display: inline-block !important
  text-align: center

.numpad
  width: 460px
  display: inline-block
  text-align: center
  background-color: #505050
  padding: 25px
  border-radius: 5px

.haskeypad
  margin-bottom: 350px !important

keypad
  display: block

.keypad
  padding: 25px
  position: absolute
  z-index: 1000
  bottom: 0
  width: 100%
  height: 350px
  background: #000
  .uppercase
    text-align: center
  .lowercase
    text-align: center
  .numpad
    width: 100%
    text-align: center
    padding: 0 !important
    background-color: transparent !important
  .key
    color: #fff
    font-size: 2.2em
    line-height: 2em
    width: 80px
    height: 65px
    margin: 5px
    border-radius: 5px
    border-top: 0px
    border-left: 0px
    border-right: 0px
    background-color: #363636
    border-bottom: 8px solid #131313
    &.activated
      border-bottom-width: 5px !important
      top: 2px

.key
  display: inline-block
  width: 80px
  height: 80px
  margin: 2px
  border: solid 2px #DDD
  &.bigkey
    width: 150px
  &.fn
  &.spacebar
    width: 500px

.numpad
  .key
    color: #fff
    font-size: 2.2em
    line-height: 2em
    width: 110px
    height: 65px
    margin: 5px
    border-radius: 5px
    border-top: 0px
    border-left: 0px
    border-right: 0px
    background-color: #363636
    border-bottom: 8px solid #131313
    &.activated
      border-bottom-width: 5px !important
      top: 2px


.input-label
  display: block !important
  text-align: left

.input-label
  line-height: 1em
  display: block !important
  font-weight: normal
  font-size: 18px !important
  width: 100% !important
  max-width: 100% !important
  padding: 8px 0px !important

.separator
  height: 20px

.fieldset
  padding: 0px
  .col
    padding: 0px
    .item-input
      padding: 0px
      input
        border: solid 1px #CCC !important
        &.money
          margin-left: 30px
          width: calc(100% - 30px)
      select
        width: 100% !important
        padding: 7px !important
        border: solid 1px #CCC !important
  input[type="radio"]
    display: inline-block
    vertical-align: middle
  input[type="checkbox"]
    display: inline-block
    vertical-align: middle

.prefix
  float: left
  padding: 7px

.next
  border-radius: 5px
  border: 0px
  padding: 10px 30px
  background-color: #C60C31
  color: #FFF
  font-size: 1.8em
  border-bottom: 8px solid #390104
  &.activated
    top: 3px
    box-shadow: none
    background-color: #C60C31
    border-bottom: 3px solid #390104

.continue
  position: absolute
  right: 150px
  width: 230px
  top: 650px
  z-index: 100
  text-align: left
  background-image: url(../images/continue.png)
  background-repeat: no-repeat
  background-position: 180px 20px
  &.activated
    top: 655px

.dosomethingelse
  width: 400px
  text-align: left
  background-image: url(../images/continue.png)
  background-repeat: no-repeat
  background-position: 350px 20px

.use-btn
  width: 330px
  height: 150px
  margin-right: 30px
  margin-bottom: 30px
  text-align: left
  padding: 20px
  background-color: #DFF3FC
  h5
    font-size: 1.2em
    font-family: 'Gotham-Bold'
  p
    line-height: 1.2
  &.selected
    color: #fff
    background-color: #3DADD5
    h5
      color: #fff

.payment
  padding: 40px
  .payment-item
    span
      display: inline-block
      float: right
  .total
    span
      display: inline-block
      float: right

#payviacard
  position: absolute
  left: 50%
  margin-left: -350px
  top: 50%
  margin-top: -250px
  width: 700px
  height: 500px

#payviamobile
  position: absolute
  left: 50%
  margin-left: -350px
  top: 50%
  margin-top: -250px
  width: 700px
  height: 500px

#payviacard
  border-radius: 5px
  border: solid 4px rgba(0,0,0,0.1)
  background-color: white !important
  background: white
  canvas
    -webkit-filter: blur(0.3em) brightness(0.9)
    position: absolute
    z-index: 5
    transform: translate(-50%, -50%)
    margin-left: 350px
    margin-top: 250px

#payviamobile
  border-radius: 5px
  border: solid 4px rgba(0,0,0,0.1)
  background-color: white !important
  background: white
  canvas
    -webkit-filter: blur(0.3em) brightness(0.9)
    position: absolute
    z-index: 5
    transform: translate(-50%, -50%)
    margin-left: 350px
    margin-top: 250px


.modal-backdrop.active
  background-color: rgba(0,0,0,0)

ion-nav-back-button
  width: 84px !important
  height: 102px !important
  background-image: url(../images/back.png)
  border: 0px !important
  background-color: transparent !important
  margin-left: -5px !important
  margin-top: -138px !important
  opacity: 1 !important
  &:before
    content: "" !important
  &.activated
    box-shadow: none !important
    perspective: 1000px
    margin-left: -20px !important

#landingpage
  .row-content
    margin-top: 55px

#licenceentry
  .row-content
    margin-top: 55px

#licenceentrykeypad
  ion-content
    width: 600px !important
    height: 650px
    margin-top: 38px
    input
      font-size: 3.5em !important
      height: 1.5em
      line-height: 1
      font-family: 'Gotham-XLight' sans-serif
      color: #CF092D
      margin-bottom: 40px

#poi
  background-color: transparent
  canvas
    -webkit-filter: brightness(0.3) blur(0.2em)
    position: absolute
    z-index: 5
  .message
    background-color: #fff
    position: absolute
    padding: 50px
    left: 150px
    top: 200px
    width: 500px
    line-height: 1
    &:before
      position: absolute
      content: ""
      width: 100px
      height: 100px
      position: absolute
      background-image: url(../images/poi.png)
      border-radius: 50%
      left: 50%
      margin-left: -50px
      top: -50px
    h3
      font-size: 2.6em
      color: $textblue
      margin-bottom: 30px
    p
      font-size: 2em
  .content-header
    position: absolute
    width: 100%
    height: 200px
    z-index: 100
    margin-left: 0px
  .closemodal
    top: 385px
    position: absolute
    width: 84px !important
    height: 102px !important
    background-image: url(../images/back.png)
    border: 0px !important
    background-color: transparent !important
    margin-left: -5px !important
    margin-top: -138px !important
    opacity: 1 !important
    &:before
      content: "" !important
    &.activated
      box-shadow: none !important
      perspective: 1000px
      margin-left: -20px !important
  input
    width: 1.5em
    font-family: 'Gotham-XLight' sans-serif
    font-size: 3em !important
    display: inline-block !important
    text-align: center
    height: 1.8em
    border: solid 2px #CCC !important
    color: #CF092D
    margin-bottom: 30px

#platenumber
  .message
    text-align: center
    font-size: 2em
    margin-top: 100px
    margin-bottom: 20px
  input
    font-size: 4em !important
    height: 1.5em
    line-height: 1
    font-family: 'Gotham-XLight' sans-serif
    color: #CF092D
    margin-bottom: 40px
    width: 400px

#registerto
  .message
    font-size: 2em
    margin-bottom: 50px
    margin-top: 30px
  .registerto-btn
    display: block
    width: 500px
    font-size: 1.6em
    margin: 0 auto 20px auto
    padding: 10px
    border-radius: 5px
    border: solid 1px #42AED4
    &.selected
      background-color: #42AED4
      color: #ffffff

#customerdetails
  input[type="text"]
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif
  select
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif

#dealerdetails
  input[type="text"]
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif
  select
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif

#corporationdetails
  input[type="text"]
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif
  select
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif

#purchaseacquisition
  input[type="text"]
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif
  select
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif

#vehicleinfo
  input[type="text"]
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif
  select
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif

#originalowner
  input[type="text"]
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif
  select
    font-size: 1.4em
    padding: 15px
    line-height: 1
    height: 50px
    font-family: 'Gotham-XLight' sans-serif

.payviacardloading
  text-align: center
  margin-top: 50px
  font-size: 2em
  line-height: 1.2
  .payviacardloadingimage
    width: 230px
    height: 230px
    background-image: url(../images/payviacardloading.png)
    background-repeat: no-repeat
    border-radius: 50%
    margin: 0 auto 50px auto
    &:before
      content: ""
      position: absolute
      left: 50%
      top: 57px
      margin-left: -117px
      z-index: -1
      width: 235px
      height: 235px
      background-image: url(../images/loading.png)
      background-size: contain
      border-radius: 50%
      -webkit-animation: rotating 1s linear infinite

.payviamobileloading
  text-align: center
  margin-top: 50px
  font-size: 2em
  line-height: 1.2
  .payviamobileloadingimage
    width: 230px
    height: 230px
    background-image: url(../images/payviamobileloading.png)
    background-repeat: no-repeat
    border-radius: 50%
    margin: 0 auto 50px auto
    &:before
      content: ""
      position: absolute
      left: 50%
      top: 57px
      margin-left: -117px
      z-index: -1
      width: 235px
      height: 235px
      background-image: url(../images/loading.png)
      background-size: contain
      border-radius: 50%
      -webkit-animation: rotating 1s linear infinite


.swipecard
  margin-top: 40px
  font-size: 1.4em
  line-height: 1.2
  .swipecardimage
    width: 230px
    height: 230px
    background-image: url(../images/swipecard.png)
    border-radius: 50%
    margin: 0 auto 50px auto
    &:before
      content: ""
      position: absolute
      left: 50%
      top: 43px
      margin-left: -117px
      z-index: -1
      width: 235px
      height: 235px
      background-image: url(../images/loading.png)
      background-size: contain
      border-radius: 50%
      -webkit-animation: rotating 1s linear infinite

#payment
  #payviacard-btn, #payviamobile-btn
    border: 0px
    width: 400px
    height: 180px
    font-size: 1.8em
    line-height: 180px
    color: $textblue
    text-align: left
    text-indent: 180px
    background-color: white
    background-repeat: no-repeat
    background-size: 120px 120px
    background-position: 35px 35px
    &.activated
      box-shadow: none
      transform: scale(0.95)
  #payviacard-btn
    background-image: url(../images/payviacard.png)
  #payviamobile-btn
    background-image: url(../images/payviamobile.png)
  .payment-item
    font-size: 1.4em
    margin: 10px 0
  .total
    font-size: 2em
    margin: 30px 0
    color: $textblue
    span
      color: #cf092d

#declaration
  .main-content
    font-size: 1.2em
    line-height: 1.8
    .notice
      border: solid 1px #CCC
      padding: 20px
      margin-bottom: 20px
      width: 500px
    ul
      li
        list-style-type: disc
        margin-left: 30px

#complete
  .main-content
    font-size: 1.2em
    line-height: 1.8

@-webkit-keyframes rotating
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)