<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="payviamobile" ng-controller="PayViaMobileCtrl">

  <ion-content scroll="false" class="overlay">
    <div class="row">
      <div class="col">
      	<div class="payviamobileloading">
          <div class="payviamobileloadingimage rotating"></div>
          Scan the above QR Code on your device.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
