<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="payviacard" ng-controller="PayViaCardCtrl">

  <ion-content scroll="false" class="overlay">
    <div class="row">
      <div class="col">
      	<div class="payviacardloading">
          <div class="payviacardloadingimage rotating"></div>
          Swipe your payment card now.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
