<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="poi" ng-controller="POICtrl">
  <div class="content-header">
      <a class="button continuephone-btn">Continue on my phone</a>
      <a class="button home-btn">Home</a>
    </div>
  <div id="logo-white"></div>
  <ion-content scroll="false" class="overlay">
    <div class="row">
      <div class="col">
        <div class="message">
          <h3>We want to make sure.</h3>
          <p>We sent a 6-digit code to your mobile device via text and email</p>
          <p>Please enter that code into the boxes on the right.</p>
        </div>
      </div>
      <div class="col" style="margin-top: 150px">
        <div class="row">
          <div class="row-content">
          </div>
        </div>
        <div class="row">
          <div class="row-content center-align">
            <input type="text" ng-model="number[0]" placeholder="" class="onenumberinput" />
            <input type="text" ng-model="number[1]" placeholder="" class="onenumberinput" />
            <input type="text" ng-model="number[2]" placeholder="" class="onenumberinput" />
            <input type="text" ng-model="number[3]" placeholder="" class="onenumberinput" />
            <input type="text" ng-model="number[4]" placeholder="" class="onenumberinput" />
            <input type="text" ng-model="number[5]" placeholder="" class="onenumberinput" />
          </div>
        </div>
        <div class="row">
          <div class="row-content center-align">
            <numpad number="number"/>
          </div>
        </div>
      </div>
    </div>
    <a class="button closemodal" ng-click="closeModal()"></a>
  </ion-content>
</ion-view>
