
<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="complete">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 10 of 11</div><div class="progress" style="width: 100%">Transfer Rego <div class="progress-status">Step 11 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>You're done!</h2>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row main-content">
          <div class="col">
            <p>
              Thank you for your payment. A receipt is now being printed<br>
              and will come out at the receipt slot.
            </p>
            <p>
              Your Certificate of Registration will be sent to your {Residential/Office} Address in<br>
              {3} Business Days. We have sent you an email of the details of this transaction,<br>
              as well as the tracking number for your parcel.
            </p>
            <p>
              Thanks for using Service NSW!
            </p>
            <div class="separator"></div>
          <a class="button next" ng-click="okay()">Okay</a>         
          <a class="button next dosomethingelse" ng-click="dosomethingelse()">Do something else</a>         
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
