<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="corporationdetails">
  <div class="content-header">
    <div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 3 of 11</div><div class="progress" style="width: 27%">Transfer Rego <div class="progress-status">Step 3 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Review Corporation Details</h2>
        <p>Type in the details for the corporation to whom vehicle will be named</p>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Customer Number</div>
                  <input type="text" ng-model="platenumber" placeholder="License Number" class=""
            ng-click="showAndSetKeypad('platenumber', platenumber)" style="width: 250px" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Name</div>
                  <input type="text" ng-model="corporationdetail.name" placeholder="Name" class=""
                ng-click="showAndSetKeypad('corporationdetail.name', corporationdetail.name, 10)"  />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="input-label">Business Address</div>
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 160px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="corporationdetail.address.unit" placeholder="Unit" class=""
                ng-click="showAndSetKeypad('corporationdetail.address.unit', corporationdetail.address.unit, 110)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 100px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="corporationdetail.address.number" placeholder="#" class=""
            ng-click="showAndSetKeypad('corporationdetail.address.number', corporationdetail.address.number, 110)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 200px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="corporationdetail.address.street" placeholder="Street" class=""
            ng-click="showAndSetKeypad('corporationdetail.address.street', corporationdetail.address.street, 110)" />
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class="item item-input">
                  <select ng-model="corporationdetail.address.suburb" placeholder="Suburb" class="">
                    <option value="2000">Suburb 2</option>
                    <option value="2001">Suburb 1</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 340px;">
                <label class="item item-input">
                  <select ng-model="corporationdetail.address.state" placeholder="Suburb" class="">
                    <option value="NSW">NSW</option>
                  </select>
                </label>
              </div>
              <div class="col" style="flex: 0 0 120px;">
                <label class="item item-input">
                  <select ng-model="corporationdetail.address.suburb" placeholder="Suburb" class="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <label class="checkbox">
               <input type="checkbox">
              Specify a different mailing address
              </label>
            </div>

            <div class="separator"></div>
          
          </div>

          <div class="col">

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">ABN (if applicable)</div>
                  <input type="text" ng-model="corporationdetail.abn" placeholder="ABN" class=""
            ng-click="showAndSetKeypad('corporationdetail.email', corporationdetail.email)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>
            
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">ACN, ARBN or other</div>
                  <input type="text" ng-model="corporationdetail.acn" placeholder="ACN/ARBN/etc" class=""
            ng-click="showAndSetKeypad('corporationdetail.acn', corporationdetail.acn, 10)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>
            
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Your Capacity in Company</div>
                  <input type="text" ng-model="corporationdetail.capacity" placeholder="Capacity" class=""
            ng-click="showAndSetKeypad('corporationdetail.capacity', corporationdetail.capacity, 110)" />
                </label>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
