<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="customerdetails">
  <div class="content-header">
    <div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 3 of 11</div><div class="progress" style="width: 27%">Transfer Rego <div class="progress-status">Step 3 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Review Customer Details</h2>
        <p>Type in the details for the Customer to whom vehicle will be named</p>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">NSW Driver's Licence/Customer Number</div>
                  <input type="text" ng-model="platenumber" placeholder="License Number" class=""
            ng-click="showAndSetKeypad('platenumber', platenumber)" style="width: 250px" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 230px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Surname</div>
                  <input type="text" ng-model="customerdetail.surname" placeholder="Surname" class=""
                ng-click="showAndSetKeypad('customerdetail.surname', customerdetail.surname)"  />
                </label>
              </div>
              <div class="col" style="flex: 0 0 230px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Given Name</div>
                  <input type="text" ng-model="customerdetail.givenname" placeholder="Given Name" class=""
            ng-click="showAndSetKeypad('customerdetail.givenname', customerdetail.givenname)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="input-label">Date of Birth</div>
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 100px;">
                <label class="item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.dob.day" placeholder="Day" class=""
                ng-click="showAndSetKeypad('customerdetail.dob.day', customerdetail.dob.day)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 200px;">
                <label class="item-input">
                  <select ng-model="customerdetail.dob.month" placeholder="Month" class="">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </label>
              </div>
              <div class="col" style="flex: 0 0 160px;">
                <label class="item item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.dob.year" placeholder="Year" class=""
                ng-click="showAndSetKeypad('customerdetail.dob.year', customerdetail.dob.year)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Email Address</div>
                  <input type="text" ng-model="customerdetail.email" placeholder="your@email.com" class=""
            ng-click="showAndSetKeypad('customerdetail.email', customerdetail.email, 220)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Mobile Number</div>
                  <input type="text" ng-model="customerdetail.mobile" placeholder="Mobile #" class=""
            ng-click="showAndSetKeypad('customerdetail.mobile', customerdetail.mobile, 320)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>
          
          </div>

          <div class="col">

            <div class="input-label">Residential Address</div>
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 160px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.residential.unit" placeholder="Unit" class=""
                ng-click="showAndSetKeypad('customerdetail.residential.unit', customerdetail.residential.unit)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 100px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.residential.number" placeholder="#" class=""
            ng-click="showAndSetKeypad('customerdetail.residential.number', customerdetail.residential.number)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 200px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.residential.street" placeholder="Street" class=""
            ng-click="showAndSetKeypad('customerdetail.residential.street', customerdetail.residential.street)" />
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class="item item-input">
                  <select ng-model="customerdetail.residential.suburb" placeholder="Suburb" class="">
                    <option value="2000">Suburb 2</option>
                    <option value="2001">Suburb 1</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 340px;">
                <label class="item item-input">
                  <select ng-model="customerdetail.residential.state" placeholder="Suburb" class="">
                    <option value="NSW">NSW</option>
                  </select>
                </label>
              </div>
              <div class="col" style="flex: 0 0 120px;">
                <label class="item item-input">
                  <select ng-model="customerdetail.residential.suburb" placeholder="Suburb" class="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <label class="checkbox">
               <input type="checkbox">
              Specify a different mailing address
              </label>
            </div>

            <div class="separator"></div>

            <div class="input-label">Mailing Address</div>
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 160px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.mailing.unit" placeholder="Unit" class=""
                ng-click="showAndSetKeypad('customerdetail.mailing.unit', customerdetail.mailing.unit, 160)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 100px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.mailing.number" placeholder="#" class=""
            ng-click="showAndSetKeypad('customerdetail.mailing.number', customerdetail.mailing.number, 160)" />
                </label>
              </div>
              <div class="col" style="flex: 0 0 200px;">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="customerdetail.mailing.street" placeholder="Street" class=""
            ng-click="showAndSetKeypad('customerdetail.mailing.street', customerdetail.mailing.street, 160)" />
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class="item item-input">
                  <select ng-model="customerdetail.mailing.suburb" placeholder="Suburb" class="">
                    <option value="2000">Suburb 2</option>
                    <option value="2001">Suburb 1</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 340px;">
                <label class="item item-input">
                  <select ng-model="customerdetail.mailing.state" placeholder="Suburb" class="">
                    <option value="NSW">NSW</option>
                  </select>
                </label>
              </div>
              <div class="col" style="flex: 0 0 120px;">
                <label class="item item-input">
                  <select ng-model="customerdetail.mailing.suburb" placeholder="Suburb" class="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                  </select>
                </label>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
