<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="dealerdetails">
  <div class="content-header">
    <div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 3 of 11</div><div class="progress" style="width: 27%">Transfer Rego <div class="progress-status">Step 3 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Review Dealer Details</h2>
        <p>Type in the details for the Customer to whom vehicle will be named</p>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">NSW Driver's Licence/Customer Number</div>
                  <input type="text" ng-model="platenumber" placeholder="License Number" class=""
            ng-click="showAndSetKeypad('platenumber', platenumber)" style="width: 250px" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col" style="flex: 0 0 460px;">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Name of Dealership</div>
                  <input type="text" ng-model="dealerdetail.name" placeholder="Dealer Detail" class=""
                ng-click="showAndSetKeypad('dealerdetail.name', dealerdetail.name, 10)"  />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="input-label">State or Territory</div>
            <div class="row fieldset">
              <div class="col" style="flex: 0 0 200px;">
                <label class="item-input">
                  <select ng-model="dealerdetail.state" placeholder="State" class="">
                    <option value="1">NSW</option>
                    <option value="2">ACT</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="separator"></div>

          </div>

          <div class="col">

          </div>

        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
