<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="declaration">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 10 of 11</div><div class="progress" style="width: 90%">Transfer Rego <div class="progress-status">Step 10 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Declaration</h2>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col main-content">
            <div class="notice">
              Please read carefully before you {sign}.<br>
              If you do not tell the truth you can be prosecuted
            </div>
            <div class="message">
              You declare that:
              <ul>
                <li>The information on this form is true and complete</li>
                <li>If the vehicle has Special Number Plates you have read and accept the Number Plates Terms and Conditions for Special Number Plates available at any Registry or on the myplates website myPlates.com.au</li>
              </ul>
              <p>Under road transport legislation, it is an offence to attempt to register or renew the registration of a vehicle by a false statement or any misrepresentation or other dishonest means.
              </p>
              <p>To continue, {...} then press continue</p>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next next" ng-click="continue()">Continue</a>
</ion-view>
