<div class="keypad" ng-controller="KeypadCtrl">
	<div class="uppercase" ng-show="uppercase && !numpad">
		<div class="button key" value="Q">Q</div>
		<div class="button key" value="W">W</div>
		<div class="button key" value="E">E</div>
		<div class="button key" value="R">R</div>
		<div class="button key" value="T">T</div>
		<div class="button key" value="Y">Y</div>
		<div class="button key" value="U">U</div>
		<div class="button key" value="I">I</div>
		<div class="button key" value="O">O</div>
		<div class="button key" value="P">P</div>
		<div class="button key fn" value="back"><-</div>
		<div class="button key bigkey fn" value="clear">Clear</div><br>

		<div class="button key" value="A">A</div>
		<div class="button key" value="S">S</div>
		<div class="button key" value="D">D</div>
		<div class="button key" value="F">F</div>
		<div class="button key" value="G">G</div>
		<div class="button key" value="H">H</div>
		<div class="button key" value="J">J</div>
		<div class="button key" value="K">K</div>
		<div class="button key" value="L">L</div>
		<div class="button key" value=":">:</div>
		<div class="button key bigkey fn" value="enter">Enter</div><br>

		<div class="button key fn" value="uppercase" ng-click="uppercase = !uppercase">aa</div>
		<div class="button key" value="Z">Z</div>
		<div class="button key" value="X">X</div>
		<div class="button key" value="C">C</div>
		<div class="button key" value="V">V</div>
		<div class="button key" value="B">B</div>
		<div class="button key" value="N">N</div>
		<div class="button key" value="M">M</div>
		<div class="button key" value="<">&lt;</div>
		<div class="button key" value=">">&gt;</div>
		<div class="button key" value="?">?</div>
		<div class="button key fn" value="uppercase" ng-click="uppercase = !uppercase">aa</div><br>

		<div class="button key fn" value="number" ng-click="numpad = true">123</div>
		<div class="button key fn spacebar" value=" "></div>
		<div class="button key" value="@">@</div>
		<div class="button key bigkey fn" value="exit">Exit</div>
	</div>

	<div class="lowercase" ng-show="!uppercase && !numpad">
		<div class="button key" value="w">q</div>
		<div class="button key" value="w">w</div>
		<div class="button key" value="e">e</div>
		<div class="button key" value="r">r</div>
		<div class="button key" value="t">t</div>
		<div class="button key" value="y">y</div>
		<div class="button key" value="u">u</div>
		<div class="button key" value="i">i</div>
		<div class="button key" value="o">o</div>
		<div class="button key" value="p">p</div>
		<div class="button key fn" value="back"><-</div>
		<div class="button key bigkey fn" value="clear">Clear</div><br>

		<div class="button key" value="a">a</div>
		<div class="button key" value="s">s</div>
		<div class="button key" value="d">d</div>
		<div class="button key" value="f">f</div>
		<div class="button key" value="g">g</div>
		<div class="button key" value="h">h</div>
		<div class="button key" value="j">j</div>
		<div class="button key" value="k">k</div>
		<div class="button key" value="l">l</div>
		<div class="button key" value=";">;</div>
		<div class="button key bigkey fn" value="enter">Enter</div><br>

		
		<div class="button key fn" value="uppercase" ng-click="uppercase = !uppercase">AA</div>
		<div class="button key" value="z">z</div>
		<div class="button key" value="x">x</div>
		<div class="button key" value="c">c</div>
		<div class="button key" value="v">v</div>
		<div class="button key" value="b">b</div>
		<div class="button key" value="n">n</div>
		<div class="button key" value="m">m</div>
		<div class="button key" value=",">,</div>
		<div class="button key" value=".">.</div>
		<div class="button key" value="/">/</div>
		<div class="button key fn" value="uppercase" ng-click="uppercase = !uppercase">AA</div><br>

		<div class="button key fn" value="number" ng-click="numpad = true">123</div>
		<div class="button key fn spacebar" value=" "></div>
		<div class="button key" value="@">@</div>
		<div class="button key bigkey fn" value="exit">Exit</div>
	</div>

	<div class="numpad" ng-show="numpad">
		<div class="button key" value="1">1</div>
		<div class="button key" value="2">2</div>
		<div class="button key" value="3">3</div><br>
		<div class="button key" value="4">4</div>
		<div class="button key" value="5">5</div>
		<div class="button key" value="6">6</div><br>
		<div class="button key" value="7">7</div>
		<div class="button key" value="8">8</div>
		<div class="button key" value="9">9</div><br>
		
		<div class="button key fn" value="number" ng-click="numpad = false">ABC</div>
		<div class="button key fn" value="clear">Clear</div>
		<div class="button key" value="0">0</div>
		<div class="button key fn" value="back"><-</div>
		<div class="button key fn" value="exit">Exit</div><br>
	</div>

</div>