<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="landingpage">
  <div class="content-header">
  </div>
  <ion-content direction="x" class="blank">
    <div class="row">
      <div class="row-content center-align">
        <div ng-repeat="link in links" class="link">
          <a class="button main-btn" href="/#/{{link.url}}">
            <div class="btn-image" style="background-image: url(images/menubuttons/{{link.id}}.png);"></div>
            {{link.title}}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
