<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="licenceentry">
  <div class="content-header">
    <div class="titleprogress"><div class="progresslogo"></div>Transfer Rego<div class="progress" style="width: 0; display: none;">Transfer Rego</div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="x" class="blank">
    <div class="row">
      <div class="row-content center-align">
        <div ng-repeat="link in links" class="link">
          <a class="button main-btn" href="/#/{{link.url}}">
            <div class="btn-image image-blue" style="background-image: url(images/menubuttons/{{link.id}}.png);"></div>
            {{link.title}}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
