<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="licenceentrykeypad">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego<div class="progress" style="width: 0; display: none;">Transfer Rego</div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content scroll="false" class="">
    <div class="row">
      <div class="row-content center-align">
        <div style="font-size: 2em;">Enter your NSW Licence Number now.</div>
        <div class="row">
          <div class="row-content">
            <input type="text" ng-model="number" placeholder="Licence Number" class="numberinput" />
          </div>
        </div>
        <numpad number="number"/>
      </div>
    </div>
  </ion-content>
</ion-view>
