<div class="numpad">
	<div class="button key" value="1">1</div>
	<div class="button key" value="2">2</div>
	<div class="button key" value="3">3</div><br>
	<div class="button key" value="4">4</div>
	<div class="button key" value="5">5</div>
	<div class="button key" value="6">6</div><br>
	<div class="button key" value="7">7</div>
	<div class="button key" value="8">8</div>
	<div class="button key" value="9">9</div><br>
	<div class="button key fn" value="clear">Clear</div>
	<div class="button key" value="0">0</div>
	<div class="button key fn" value="back"><-</div><br>
</div>