<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="originalowner">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 7 of 11</div><div class="progress" style="width: 63%">Transfer Rego <div class="progress-status">Step 7 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Who did you buy this vehicle from?</h2>
        <p>Please review if the following information is accurate, then press continue<br>To change, tap an item</p>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">NSW Driver's Licence/Customer Number</div>
                  <input type="text" ng-model="originalowner.driverslicence" placeholder="License Number" class=""
            ng-click="showAndSetKeypad('originalowner.driverslicence', originalowner.driverslicence)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Surname</div>
                  <input type="text" ng-model="originalowner.surname" placeholder="Surname" class=""
                ng-click="showAndSetKeypad('originalowner.surname', originalowner.surname)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Given Name</div>
                  <input type="text" ng-model="originalowner.givenname" placeholder="Given Name" class=""
            ng-click="showAndSetKeypad('originalowner.givenname', originalowner.givenname)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="input-label">Residential Address</div>
            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="originalowner.residential.unit" placeholder="Unit" class=""
                ng-click="showAndSetKeypad('originalowner.residential.unit', originalowner.residential.unit, 130)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="originalowner.residential.number" placeholder="#" class=""
            ng-click="showAndSetKeypad('originalowner.residential.number', originalowner.residential.number, 130)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="originalowner.residential.street" placeholder="Street" class=""
            ng-click="showAndSetKeypad('originalowner.residential.street', originalowner.residential.street, 130)" />
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col">
                <label class="item item-input">
                  <select ng-model="originalowner.residential.suburb" placeholder="Suburb" class="">
                    <option value="2000">Suburb 2</option>
                    <option value="2001">Suburb 1</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 3">
                <label class="item item-input">
                  <select ng-model="originalowner.residential.state" placeholder="Suburb" class="">
                    <option value="NSW">NSW</option>
                  </select>
                </label>
              </div>
              <div class="col" style="flex: 1">
                <label class="item item-input">
                  <select ng-model="originalowner.residential.suburb" placeholder="Suburb" class="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                  </select>
                </label>
              </div>
            </div>

          </div>
          <div class="col">

          </div>

        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
