<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="payment">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 9 of 11</div><div class="progress" style="width: 81%">Transfer Rego <div class="progress-status">Step 9 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Payment</h2>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <a class="button" id="payviacard-btn" ng-click="payviacard()">Pay via card</a><br>
            <a class="button" id="payviamobile-btn" ng-click="payviamobile()">Pay via mobile</a>
            
          </div>
          <div class="col">

            <div class="payment">
              <div ng-repeat="item in items" class="payment-item">
                {{item.title}} <span>{{item.rate}}</span>
              </div>
              <div class="total">
                You need to pay <span>$ {{total}}</span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
