<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="platenumber">
  <div class="content-header">
    <div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 1 of 11</div><div class="progress" style="width: 9%">Transfer Rego <div class="progress-status">Step 1 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y">
    <div class="row">
      <div class="row-content">
        <div class="message">
        Enter the Vehicle's Registration Plate Number
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row-content center-align">
        <input type="text" ng-model="platenumber" placeholder="Plate Number" class="numberinput" ng-click="showAndSetKeypad('platenumber', platenumber)" />
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<keypad inputname="'platenumber'" text="platenumber" ng-show="haskeypad"/>
</ion-view>
