<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="privacystatement">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 8 of 11</div><div class="progress" style="width: 72%">Transfer Rego <div class="progress-status">Step 8 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Privacy Statement</h2>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

          <div id="mainContent">
<span id="ctl00_PanelContent_oNoCompileManifest" allowmobilelayout="True"></span>
<!--$EmbeddedPage.Integration_BEGIN$--><span id="ctl00_PanelContent_PanelCompile_157"></span>
<p>To Our Individual Clients:</p>
<p>Your privacy is important to us, and maintaining your trust and confidence is one of our highest priorities. We respect your right to keep your personal information confidential and understand your desire to avoid unwanted solicitations. A recent law change requires us (along with banks, brokerage houses, and other financial institutions) to disclose our Privacy Policy to you – which we are more than happy to do. We hope that by taking a few minutes to read it, you will have a better understanding of what we do with the information you provide us and how we keep it private and secure. </p>
<h5>A. Types of Information We Collect</h5>
<blockquote style="margin-right: 0px;" dir="ltr">
<p>We collect certain personal information about you – but only when that information is provided by you or is obtained by us with your authorization. We use that information to prepare your personal income tax returns and may also provide various tax and financial planning services to you at your request.</p>
<p>Examples of sources from which we collect information include: </p>
</blockquote>
<ul>
    <li>interviews and phone calls with you, </li>
    <li>letters or e-mails from you, </li>
    <li>tax return or financial planning organizers, and </li>
    <li>financial history questionnaires. </li>
</ul>
<h5>B. Parties to Whom We Disclose Information</h5>
<blockquote style="margin-right: 0px;" dir="ltr">
<p>As a general rule, we do not disclose personal information about our clients or former clients to anyone. However, to the extent permitted by law and any applicable state Code of Professional Conduct, certain nonpublic information about you may be disclosed in the following situations: </p>
</blockquote>
<ul>
    <li>To comply with a validly issued and enforceable subpoena or summons. </li>
    <li>In the course of a review of our firm’s practices under the authorization of a state or national licensing board, or as necessary to properly respond to an inquiry or complaint from such a licensing board of organization. </li>
    <li>In conjunction with a prospective purchase, sale, or merger of all or part of our practice, provided that we take appropriate precautions (for example, through a written confidentiality agreement) so the prospective purchaser or merger partner does not disclose information obtained in the course of the review. </li>
    <li>As a part of any actual or threatened legal proceedings or alternative dispute resolution proceedings either initiated by or against us, provided we disclose only the information necessary to file, pursue, or defend against the lawsuit and take reasonable precautions to ensure that the information disclosed does not become a matter of public record. </li>
    <li>To provide information to affiliates of the firm and nonaffiliated third parties who perform services or functions for us in conjunction with our services to you, but only if we have a contractual agreement with the other party which prohibits them from disclosing or using the information other than for the purposes for which it was disclosed. (Examples of such disclosures include using an outside service bureau to process tax returns or engaging a records-retention agency to store prior year records.) </li>
</ul>
<h5>C.&nbsp; Confidentiality and Security of Nonpublic Personal Information</h5>
<blockquote style="margin-right: 0px;" dir="ltr">
<p>Except as otherwise described in this notice, we restrict access to nonpublic personal information about you to employees of our firm and other parties who must use that information to provide services to&nbsp;you. Their right to further disclose and use the information is limited by the policies of out firm, applicable law, our Code of Professional Conduct, and nondisclosure agreements where appropriate.&nbsp; We also maintain physical, electronic, and procedural safeguards in compliance with applicable laws&nbsp;and regulations to guard your personal information from unauthorized access, alteration, or premature&nbsp;destruction. </p>
</blockquote>
<p>Thank you for allowing us to serve your accounting, tax, and financial planning needs. We value your business and are committed to protecting you privacy. We hope you view our firm as your most trusted advisor and we will work to continue earning your trust. Please call us if you have any questions or if we can be of further service. </p>
<p>Best regards,</p>


<!--$EmbeddedPage.Integration_END$-->
</div>
            
          </div>
        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
</ion-view>
