<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="purchaseacquisition">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 4 of 11</div><div class="progress" style="width: 36%">Transfer Rego <div class="progress-status">Step 4 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Purchase/Acquisition Details</h2>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <div class="input-label">Date of Purchase/Acquisition</div>
            <div class="row fieldset">
              <div class="col">
                <label class="item-input item-stacked-label">
                  <input type="text" ng-model="purchaseacquisition.dop.day" placeholder="Day" class=""
                ng-click="showAndSetKeypad('purchaseacquisition.dop.day', purchaseacquisition.dop.day)" />
                </label>
              </div>
              <div class="col">
                <label class="item-input">
                  <select ng-model="purchaseacquisition.dop.month" placeholder="Month" class="">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </label>
              </div>
              <div class="col">
                <label class="item item-input item-stacked-label">
                  <input type="text" ng-model="purchaseacquisition.dop.year" placeholder="Year" class=""
                ng-click="showAndSetKeypad('purchaseacquisition.dop.year', purchaseacquisition.dop.year)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Sale Price or Market Value</div>
                  <div class="prefix">$</div>
                  <input type="text" ng-model="purchaseacquisition.saleprice" placeholder="Sale Price" class="money"
            ng-click="showAndSetKeypad('purchaseacquisition.saleprice', purchaseacquisition.saleprice)" />
                </label>
              </div>
            </div>

            <div class="separator"></div>

          </div>
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-label">Garage Address (where the vehicle will most often be kept)</div>
            <div class="row">
              <div class="col fieldset">
                <label class="checkbox">
                 <input type="radio" name="garageaddress">
                Residence
                </label>
              </div>

              <div class="col fieldset">
                <label class="checkbox">
                 <input type="radio" name="garageaddress">
                Office
                </label>
              </div>

              <div class="col fieldset">
                <label class="checkbox">
                 <input type="radio" name="garageaddress">
                Other
                </label>
              </div>
            </div>

          </div>
          <div class="col">
            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="purchaseacquisition.garage.unit" placeholder="Unit" class=""
                ng-click="showAndSetKeypad('purchaseacquisition.garage.unit', purchaseacquisition.garage.unit, 50)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="purchaseacquisition.garage.number" placeholder="#" class=""
            ng-click="showAndSetKeypad('purchaseacquisition.garage.number', purchaseacquisition.garage.number, 50)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <input type="text" ng-model="purchaseacquisition.garage.street" placeholder="Street" class=""
            ng-click="showAndSetKeypad('purchaseacquisition.garage.street', purchaseacquisition.garage.street, 50)" />
                </label>
              </div>
            </div>
            <div class="row fieldset">
              <div class="col">
                <label class="item item-input">
                  <select ng-model="purchaseacquisition.garage.suburb" placeholder="Suburb" class="">
                    <option value="2000">Suburb 2</option>
                    <option value="2001">Suburb 1</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row fieldset">
              <div class="col" style="flex: 3">
                <label class="item item-input">
                  <select ng-model="purchaseacquisition.garage.state" placeholder="Suburb" class="">
                    <option value="NSW">NSW</option>
                  </select>
                </label>
              </div>
              <div class="col" style="flex: 1">
                <label class="item item-input">
                  <select ng-model="purchaseacquisition.garage.suburb" placeholder="Suburb" class="">
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                  </select>
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
