<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="registerto">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 2 of 11</div><div class="progress" style="width: 18%">Transfer Rego <div class="progress-status">Step 2 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content>
    <div class="row">
      <div class="row-content message center-align">
        This vehicle will be registered to
      </div>
    </div>
    <div class="row">
      <div class="row-content center-align">
        
         <a class="button registerto-btn" ng-repeat="to in tos" ng-class="to.selected ? 'selected' : ''" ng-click="select(to)">
            {{to.title}}
        </a>

      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
</ion-view>
