<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="">
  <div class="content-header">
    <div class="titleprogress"><div class="progresslogo"></div>Transfer Rego<div class="progress" style="width: 0; display: none;">Transfer Rego</div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="x" class="blank">
    <div class="row">
      <div class="row-content center-align">
        <div class="swipecard">
          <div class="swipecardimage rotating"></div>
          Swipe your NSW licence card or<br>Photo card now.
        </div>
      </div>
    </div
  </ion-content>
</ion-view>
