<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 5 of 11</div><div class="progress" style="width: 45%">Transfer Rego <div class="progress-status">Step 5 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Type of Use Intended for Vehicle</h2>
        <div class="separator"></div>
      </div>
    </div>
    <div class="row">
      <div class="row-content">

        <a class="button use-btn" ng-repeat="use in uses" ng-class="use.selected ? 'selected' : ''" ng-click="select(use)">
            <h5>{{use.title}}</h5>
            <p>{{use.description}}</p>
        </a>

      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
