<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
-->
<ion-view title="" id="vehicleinfo">
  <div class="content-header">
  	<div class="titleprogress"><div class="progresslogo"></div>Transfer Rego <div class="progress-status">Step 6 of 11</div><div class="progress" style="width: 54%">Transfer Rego <div class="progress-status">Step 6 of 11</div></div></div>
    <a class="button continuephone-btn">Continue on my phone</a>
    <a class="button home-btn">Home</a>
  </div>
  <ion-content direction="y" ng-class="{haskeypad: haskeypad}">
    <div class="row">
      <div class="row-content">
        <h2>Review Vehicle Information</h2>
        <p>Please review if the following information is accurate, then press continue.<br>Tap an item to change it.</p>
      </div>
    </div>
    <div class="row">
      <div class="row-content">
        <div class="row">
          <div class="col">

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Year Manufactured</div>
                  <input type="text" ng-model="vehicleinfo.year" placeholder="Year Manufactured" class=""
                ng-click="showAndSetKeypad('vehicleinfo.year', vehicleinfo.year)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Make</div>
                  <input type="text" ng-model="vehicleinfo.make" placeholder="Make" class=""
            ng-click="showAndSetKeypad('vehicleinfo.make', vehicleinfo.make)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Model</div>
                  <input type="text" ng-model="vehicleinfo.model" placeholder="Model" class=""
            ng-click="showAndSetKeypad('vehicleinfo.model', vehicleinfo.model)" />
                </label>
              </div>
              <div class="col" style="width: 300px;"></div>
            </div>

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Odometer Reading</div>
                  <input type="text" ng-model="vehicleinfo.odometer" placeholder="Odometer Reading" class=""
                ng-click="showAndSetKeypad('vehicleinfo.odometer', vehicleinfo.odometer, 30)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Colour</div>
                  <input type="text" ng-model="vehicleinfo.colour" placeholder="Colour" class=""
            ng-click="showAndSetKeypad('vehicleinfo.colour', vehicleinfo.colour, 30)" />
                </label>
              </div>
              <div class="col" style="width: 300px;"></div>
            </div> 

            <div class="separator"></div>

            <div class="row fieldset">
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Vehicle Chasis Number</div>
                  <input type="text" ng-model="vehicleinfo.chasisnumber" placeholder="Vehicle Chasis Number" class=""
                ng-click="showAndSetKeypad('vehicleinfo.chasisnumber', vehicleinfo.chasisnumber, 130)" />
                </label>
              </div>
              <div class="col">
                <label class=" item-input item-stacked-label">
                  <div class="input-label">Engine Number</div>
                  <input type="text" ng-model="vehicleinfo.enginenumber" placeholder="Engine Number" class=""
            ng-click="showAndSetKeypad('vehicleinfo.enginenumber', enginenumber, 130)" />
                </label>
              </div>
              <div class="col" style="width: 300px;"></div>
            </div>

          </div>        
        </div>
      </div>
    </div>
  </ion-content>
<a class="button continue next" ng-click="continue()">Continue</a>
<div keypad inputname="inputname" text="input" ng-show="haskeypad"/></div>
</ion-view>
